@import '../base/variables';

.cntr-carrito{
    width: 100%;
    @include d-flex;
    padding:10px;
    >div{
        width: 100%;
        max-width: 800px;
        margin: 10px 0;
        @include d-flex(row,center,space-between);
        >div{
            padding: 10px;
        }
        .cntr-img{
            width: 70px;
            @include d-flex(column,center,flex-start);
            img{
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .cntr-nom{
            @include d-flex(column,flex-start,center);
            flex-grow: 1;
            h6{
                font-size: 16px;
                font-weight: 600;
                color: $blue;
            }
            p{
                color: $green;
            }
        }
        .cntr-cant{
            min-width: 70px;
            padding: 0;
            @include d-flex(column,space-around,center);    
            label{
                width:100%;
                font-size: 15px;
                font-weight: bold;
                padding:5px 0;
                text-align: center;
            }
            >div{
                width: 100%;
                height: 100%;
                @include d-flex(row,center,space-between);
                button{
                    @include d-flex;
                    width: 20px;
                    height: 20px;
                    border: none;
                    background-color: $light-yellow;
                    border: 1px solid $yellow;
                    border-radius: 5px;
                    color: $blue;
                    &:hover{
                        background-color: $yellow;
                    }
                }
                p{
                    font-size: 15px;
                    font-weight: bold;
                    padding:5px;
                    text-align: center;
                }
            }
        }
        .cntr-total{
            @include d-flex(column,flex-start,center);
            min-width: 100px;
            p{
                padding: 5px 0;
                font-weight: 500;
            }
            span{
                color:$red;
                font-weight: 600;
            }
        }
    }
}

.total-carrito{
    width: 100%;
    @include d-flex;
    padding:10px;
    >div{
        width: 100%;
        max-width: 800px;
        @include d-flex(row,center,flex-end);
        h6{
            font-size: 16px;
        }
        span{
            color: $green;
            font-weight: 600;
            font-size: 18px
        }
        button{
            padding: 5px 10px;
            margin-left: 10px;
            border: none;
            background-color: $light-yellow;
            border: 1px solid $yellow;
            border-radius: 5px;
            color: $blue;
            &:hover{
                background-color: $yellow;
            }
        }
    }
}

.btn-eliminarCart{
    width: 25px;
    height: 25px;
    margin:5px;
    border: none;
    background-color: $light-yellow;
    border-radius: 8px;
    &:hover{
        background-color: $red;
    }
    img{
        width: 100%;
        padding:5px;
    }
}